<div class='container-fluid' style='background-color:#ECF0F1' >
	<div class='row text-center'>
		<div class='col-lg-12'>
			<h2 style='color:white;font-size:14px;font-weight:500;margin-bottom:5px;color:#2C3E50'>About Aerial</h2>
			<div class="progress" style="background:#ECF0F1">
          	<div class="progress-bar" style="width: 20%;margin-left:40%;height:2px"></div>
        	</div>
		</div>

	</div>
	<div class='row text-center' style='padding-left:30px;padding-right:30px'>
		<div class='col-lg-12'>
			<p style='font-weight:300;font-size:14px'>Whether you want photography or film of an event, home, powerline, pipeline, bridge, construction site, or land, Aerial can find the right drone photographer for you.
			</p>
			<p style='font-weight:300;font-size:14px'> We ask every licensed drone photographer in the United States for customer reviews and examples of past work, so we know which ones provide excellent service. That means that when you ask Aerial who you should work with, we can make a more informed recommendation than anybody else.
			</p>
			<p style='font-weight:300;font-size:14px'>
			There are many drone photographers out there. Let us do the shopping for you.
			</p>
		</div>
	</div>

</div>